{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4"
        },
        "modules": "commonjs",
        "include": [],
        "exclude": []
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}